# =========================
# Virtual Environments
# =========================
venv/
env/
.env/
.venv/

# =========================
# Python & Jupyter Artifacts
# =========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# =========================
# YOLO & Model Outputs
# =========================
# Ignore all saved model weights (GitHub has a 100MB file limit)
*.pt
*.pth
*.onnx

# Ignore the runs directory (prevents uploading gigabytes of training epochs)
runs/
# If you want to keep your final graphs/results, you can force git to track specific files later 
# by using: git add -f runs/detect/train3/results.png

# =========================
# Datasets
# =========================
# Ignore downloaded dataset folders and zip files
datasets/
VisDrone*/
*.zip
*.tar.gz
*.csv

# =========================
# IDEs and OS Files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
